*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 10px;
}

body {
    background-color: #fbfbfb;
    color: rgb(99, 99, 99);
    font-family: 'Cascadia Code', 'Consolas', 'Lucida Console', Menlo, 'Courier New', Courier, monospace;
    font-size: 2rem;
    line-height: 3rem;
    margin: 0;
    padding: 0;
}

body > header > h1 {
    color: #cde9ff;
    letter-spacing: 0.71rem;
    line-height: 3.2rem;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0 1rem;
    text-align: center;
    text-shadow: 0.5px 0.5px 0px steelblue, 1px 1px 0px steelblue, 1.5px 1.5px 0px steelblue, 2px 2px 0px steelblue;
    text-transform: uppercase;
}

header p {
    line-height: 1em;
    margin: 0;
    padding: 0 1em;
    text-align: center;
}

a {
    outline: 0;
}
a:hover, a:focus, a:active {
    background-color: #f1f9ff;
    border-radius: 0.5rem;
}

main {
    column-gap: 1rem;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    row-gap: 1.4rem;
    margin: 2rem auto;
    width: 94%;
}

main > div {
    border-radius: 0.7rem;
}
main > div > a {
    display: block;
    text-decoration: none;
    padding: 1rem;
}
main > div > a > img {
    vertical-align: middle;
}

/* #exp {
    background-image: linear-gradient(120deg, indianred, indianred 10%, 
        gold 10%, gold 11%,
        lightsalmon 11%, lightsalmon 20%,
        salmon 20%, salmon 30%,
        orange 30%, orange 44%,
        tomato 44%);
} */

#projects {
    align-self: end;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
}
#one {
    border: 2px solid rgba(255, 170, 170, 1);
    grid-column-start: 1;
    grid-column-end: 11;
    grid-row-start: 2;
}
#one a:link, #one a:visited, #one a:hover, #one a:focus, #one a:active {
    color: #258;
}
#elsewhere {
    align-self: end;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 3;
}
#two {
    border: 2px solid rgba(33, 107, 214, 1);
    grid-column-start: 4;
    grid-column-end: 8;
    grid-row-start: 4;
}
#three{
    border: 2px solid rgba(0, 0, 0, 1);
    grid-column-start: 6;
    grid-column-end: 10;
    grid-row-start: 5;
}
#four {
    border: 2px solid rgba(30, 215, 96, 1);
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 6;
}
#fill-1 {
    border: 2px solid rgba(30, 215, 96, 0.3);
    grid-column-start: 9;
    grid-column-end: 10;
    grid-row-start: 6;
}
#fill-2 {
    border: 2px solid rgba(33, 107, 214, 0.3);
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
}
#fill-3 {
    border: 2px solid rgba(0, 0, 0, 0.15);
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 5;
}
#fill-4 {
    border: 2px solid rgba(30, 215, 96, 0.35);
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 6;
}
#fill-5 {
    border: 2px solid rgba(30, 215, 96, 0.15);
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 6;
}
#fill-6 {
    border: 2px solid rgba(30, 215, 96, 0.25);
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 6;
}
#fill-7 {
    border: 2px solid rgba(255, 170, 170, 0.6);
    grid-column-start: 11;
    grid-column-end: 12;
    grid-row-start: 2;
}
#fill-8 {
    border: 2px solid rgba(255, 170, 170, 0.3);
    grid-column-start: 12;
    grid-column-end: 13;
    grid-row-start: 2;
}
#fill-9 {
    border: 2px solid rgba(33, 107, 214, 0.4);
    grid-column-start: 10;
    grid-column-end: 11;
    grid-row-start: 4;
}
#fill-10 {
    border: 2px solid rgba(0, 0, 0, 0.2);
    grid-column-start: 10;
    grid-column-end: 12;
    grid-row-start: 5;
}
#fill-11 {
    border: 2px solid rgba(33, 107, 214, 0.6);
    grid-column-start: 8;
    grid-column-end: 10;
    grid-row-start: 4;
}
#fill-12 {
    border: 2px solid rgba(0, 0, 0, 0.3);
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 5;
}


@media (min-width:460px) {
    main {
        width: 80%;
    }
}
@media (min-width:779px) {
    main {
        margin: 3rem auto;
        width: 60%;
    }
}
@media (min-width:1000px) {
    main {
        column-gap: 1rem;
        margin: 4rem auto;
        row-gap: 2rem;
        width: 50%;
    }
}
@media (min-width:1400px) {
    main {
        width: 30%;
    }
}
