body {
    background-color: #fcfcfc;
    color: #25322C;
    font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
    font-size: 1.2em;
    line-height: 1.62em;
    margin: 0 auto;
    padding: 0;
}

body > header > h1 {
    color: lightblue;
    letter-spacing: 0.3em;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0 1em 0.2em;
    text-align: center;
    text-shadow: 0.5px 0.5px 0px steelblue, 1px 1px 0px steelblue, 1.5px 1.5px 0px steelblue, 2px 2px 0px steelblue;
    text-transform: uppercase;
}

header p {
    line-height: 1em;
    margin: 0;
    padding: 0 1em;
    text-align: center;
}

main {
    margin: 0 auto;
    width: 90%;
}

main > ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

main > ul > li {
    margin: 1em 0;
}
main > ul > li > a {
    border-radius: 0.4em;
    display: block;
    text-decoration: none;
    padding: 1em;
}

#exp {
    background-image: linear-gradient(120deg, indianred, indianred 10%, 
        gold 10%, gold 11%,
        lightsalmon 11%, lightsalmon 20%,
        salmon 20%, salmon 30%,
        orange 30%, orange 44%,
        tomato 44%);
}

#flickr-link {
    border: 1px solid rgba(33, 107, 214, 0.5);
    color: #216bd6;
}
#github-link {
    border: 1px solid rgba(0, 0, 0, 0.3);
    color: #25322C;
}
#spotify-link {
    border: 1px solid rgba(30, 215, 96, 0.5);
    color: #1DB954;
}

@media (min-width:376px) {
    main {
        width: 80%;
    }
}
@media (min-width:779px) {
    main {
        width: 60%;
    }
    main > ul > li {
        margin: 2em 0;
    }
}
@media (min-width:1000px) {
    main {
        width: 50%;
    }
}
@media (min-width:1400px) {
    main {
        width: 40%;
    }
}
