body {
    background-color: #fcfcfc;
    color: #25322C;
    line-height: 1.62em;
    margin: 0 auto;
    max-width: 40em;
    padding: 0 .62em;
    font-size: 1.2em;
    font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
}

header {
    text-align: center;
}

header h1 {
    margin-bottom: 0;
    margin-top: 0;
}

p {
    margin: 1em;
}

section {
    border-radius: 0.4em;
    min-height: 3.62em; /* iOS Safari < 10 requires this. 3.62 = 1 + 1 + 1.62 */
}

section.black-border {
    border: 1px solid rgba(0, 0, 0, 0.2);
}

section.blue-border {
    border: 1px solid rgba(0 , 99, 220, 0.22);
}

section.green-border {
    border: 1px solid rgba(29, 185, 84, 0.22);
}

section a {
    display: block;
    padding: 1em;
    text-decoration: none;
}

section a img {
    vertical-align: bottom;
}

.grid {
  -webkit-box-orient: vertical;
  display: flex;
  flex-flow: column;
}

.grid > * {
  flex-basis: 1em;
  flex-grow: 1;
  margin: 0.5em 0;
}

#header-text {
    letter-spacing: 0.3em;
    text-transform: uppercase;
}

/* * { border: 1px solid crimson; } */